@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@import "tailwindcss";



@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: blue;
  --color-secondary: teal;
}
 body{
   font-family: "Playwrite NZ Basic";
  font-optical-sizing: auto; 
}
.active{
  color: cyan;
}