@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@import "tailwindcss";

@variant dark (&:is(.dark *));

@plugin "daisyui" {
  themes: light;
}
@theme {
  --color-[name]: light-dark([light-color], [dark-color]);
  --color-primary: light-dark(#10b981, #dc2626);
  --color-surface: light-dark(#f8fafc, #0f172a);
  --color-card: light-dark(#ffffff, #1e293b);
  --color-secondary: light-dark(#6b7280, #9ca3af);
  --color-brand: light-dark(#10b981, #34d399);
  --color-accent: light-dark(#3b82f6, #60a5fa);
}
 body{
   font-family: "Playwrite NZ Basic";
  font-optical-sizing: auto; 
}
.active{
  color: cyan;
}