@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@import "tailwindcss";


@plugin "daisyui" {
  themes: light;
}
@theme {
  --color-primary: #4EEF20;
  --color-secondary: #03373D;
  --color-base-200: #33929D;
  --color-accent:#FAFDF0;
}
 body{
   font-family: "Playwrite NZ Basic";
  font-optical-sizing: auto; 
}
.active{
  color: cyan;
}